---
import Layout from '../layouts/Layout.astro'
import { css } from '@styledSystem/css'
import BlogListItem from '@components/BlogListItem.astro'
import TagsCard from '@components/TagsCard.astro'
import ProfileCard from '@components/ProfileCard.astro'

const list = [
  {
    title: 'Hello World',
    createdDate: '2021.01.01',
    tags: ['astro', 'react', 'typescript'],
  },
  {
    title: 'Hello World',
    createdDate: '2021.01.01',
    tags: ['astro', 'react', 'typescript'],
  },
  {
    title: 'Hello World',
    createdDate: '2021.01.01',
    tags: ['astro', 'react', 'typescript'],
  },
]
---

<Layout title="Welcome to Astro.">
  <main
    class={css({
      maxWidth: '90rem',
      marginInline: 'auto',
      display: 'flex',
    })}
  >
    <div
      class={css({
        padding: '1.5rem',
        width: '100%',
      })}
    >
      {
        list.map((v) => (
          <BlogListItem
            title={v.title}
            createdDate={v.createdDate}
            tags={v.tags}
          />
        ))
      }
    </div>
    <div
      class={css({
        padding: '1.5rem 1.5rem 0 0',
      })}
    >
      <ProfileCard />
      <TagsCard />
    </div>
  </main>
</Layout>
