---
import { css } from '@styledSystem/css'

/* eslint-disable-next-line @typescript-eslint/no-unused-vars */
type Props = Record<string, never>
---

<footer
  class={css({
    paddingTop: '25px',
    paddingBottom: '25px',
    textAlign: 'center',
  })}
>
  <p>
    <small
      class={css({
        fontSize: '16px',
        textShadow: '1px 1px 1px #ffffff',
      })}
    >
      &copy; {new Date().getFullYear()} HidakaRintro
    </small>
  </p>
</footer>
