---
import { css } from '@styledSystem/css'
interface Props {}
---

<header
  class={css({
    marginBottom: '1rem',
    backgroundColor: '#EBECF0',
    borderRadius: '0 0 10px 10px',
    boxShadow: '-5px -5px 20px #ffffff, 5px 5px 20px #BABECC',
    position: 'sticky',
    top: 0,
  })}
>
  <div
    class={css({
      display: 'flex',
      justifyContent: 'space-between',
      alignItems: 'center',
      paddingLeft: '1.5rem',
      paddingRight: '1.5rem',
      maxWidth: '90rem',
      marginInline: 'auto',
      height: '4rem',
    })}
  >
    <div>
      <p
        class={css({
          fontSize: '3xl',
          fontWeight: 'bold',
          textShadow: '1px 1px 1px #ffffff',
        })}
      >
        blog.rintaro.dev
      </p>
    </div>
    <div>
      <input
        class={css({
          backgroundColor: '#EBECF0',
          borderRadius: '5px',
          boxSizing: 'border-box',
          boxShadow: 'inset 2px 2px 5px #BABECC, inset -5px -5px 10px #ffffff',
          fontSize: '16px',
          padding: '0.5rem',
          transition: 'all 0.2s ease-in-out',
          _focus: {
            boxShadow: 'inset 1px 1px 2px #BABECC, inset -1px -1px 2px #ffffff',
            outline: 'none',
          },
        })}
        placeholder="Search"
      />
    </div>
  </div>
</header>
