---
import { css } from '@styledSystem/css'
---

<div
  class={css({
    width: '20rem',
    borderRadius: '10px',
    boxShadow: '-5px -5px 20px #ffffff, 5px 5px 20px #BABECC',
    padding: '1rem',
    marginBottom: '20px',
    textShadow: '1px 1px 1px #ffffff',
  })}
>
  <div
    class={css({
      display: 'flex',
      alignItems: 'center',
      marginBottom: '1rem',
    })}
  >
    <div>
      <div
        class={css({
          padding: '5px',
          borderRadius: '10px',
          boxShadow: '-2px -2px 5px #ffffff, 2px 2px 5px #BABECC',
        })}
      >
        <div
          class={css({
            width: '50px',
            height: '50px',
            backgroundColor: 'gray',
            borderRadius: '10px',
          })}
        >
        </div>
      </div>
    </div>
    <p
      class={css({
        fontSize: '2xl',
        fontWeight: 'bold',
        width: '100%',
        textAlign: 'center',
      })}
    >
      Rintaro
    </p>
  </div>
  <div
    class={css({
      display: 'flex',
      justifyContent: 'space-between',
    })}
  >
    <div
      class={css({
        padding: '5px',
        borderRadius: '10px',
        boxShadow: '-2px -2px 5px #ffffff, 2px 2px 5px #BABECC',
      })}
    >
      <div
        class={css({
          width: '35px',
          height: '35px',
          backgroundColor: 'gray',
          borderRadius: '5px',
        })}
      >
      </div>
    </div>
    <div
      class={css({
        padding: '5px',
        borderRadius: '10px',
        boxShadow: '-2px -2px 5px #ffffff, 2px 2px 5px #BABECC',
      })}
    >
      <div
        class={css({
          width: '35px',
          height: '35px',
          backgroundColor: 'gray',
          borderRadius: '5px',
        })}
      >
      </div>
    </div>
    <div
      class={css({
        padding: '5px',
        borderRadius: '10px',
        boxShadow: '-2px -2px 5px #ffffff, 2px 2px 5px #BABECC',
      })}
    >
      <div
        class={css({
          width: '35px',
          height: '35px',
          backgroundColor: 'gray',
          borderRadius: '5px',
        })}
      >
      </div>
    </div>
    <div
      class={css({
        padding: '5px',
        borderRadius: '10px',
        boxShadow: '-2px -2px 5px #ffffff, 2px 2px 5px #BABECC',
      })}
    >
      <div
        class={css({
          width: '35px',
          height: '35px',
          backgroundColor: 'gray',
          borderRadius: '5px',
        })}
      >
      </div>
    </div>
  </div>
</div>
